h1 {
  border-color: #7d1f00;
  border-style: double;
  border-width: 11px;
  padding: 10px;
  padding-left: 25px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #301919;
  font-size: 20px;
}

.button {
  background-color: #7d1f00;
  border: solid 2px #ffffff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  margin-left: 25px;
  cursor: pointer;
}

.padding-image {
  padding-left: 25px;
}

ul {
  list-style-type: circle;
  margin-left: 25px;
  padding-left: 25px;
}

li {
  margin-bottom: 10px;
  display: list-item;
}